/****** Object:  Trigger [Trg_SODetailInsert]    Script Date: 22-02-2026 20:33:50 ******/
DROP TRIGGER [dbo].[Trg_SODetailInsert]
GO
/****** Object:  Trigger [Trg_PODetailInsert]    Script Date: 22-02-2026 20:33:50 ******/
DROP TRIGGER [dbo].[Trg_PODetailInsert]
GO
ALTER TABLE [dbo].[SALESORDERDETAILS] DROP CONSTRAINT [FK__SALESORDE__Sales__5535A963]
GO
ALTER TABLE [dbo].[SALESORDERDETAILS] DROP CONSTRAINT [FK__SALESORDE__Produ__5629CD9C]
GO
ALTER TABLE [dbo].[SALESORDER] DROP CONSTRAINT [FK__SALESORDE__Custo__5165187F]
GO
ALTER TABLE [dbo].[PURCHASEORDERHEADER] DROP CONSTRAINT [FK__PURCHASEO__Suppl__49C3F6B7]
GO
ALTER TABLE [dbo].[PURCHASEORDERDETAILS] DROP CONSTRAINT [FK__PURCHASEO__Purch__4D94879B]
GO
ALTER TABLE [dbo].[PURCHASEORDERDETAILS] DROP CONSTRAINT [FK__PURCHASEO__Produ__4E88ABD4]
GO
ALTER TABLE [dbo].[PRODUCTS] DROP CONSTRAINT [FK__PRODUCTS__Supple__3C69FB99]
GO
ALTER TABLE [dbo].[PRODUCTS] DROP CONSTRAINT [FK__PRODUCTS__Catego__3B75D760]
GO
ALTER TABLE [dbo].[INVENTORYTRANSACTIONS] DROP CONSTRAINT [FK__Inventory__Produ__412EB0B6]
GO
ALTER TABLE [dbo].[USERDETAILS] DROP CONSTRAINT [DF__USERDETAI__Updat__05D8E0BE]
GO
ALTER TABLE [dbo].[USERDETAILS] DROP CONSTRAINT [DF__USERDETAI__Creat__04E4BC85]
GO
ALTER TABLE [dbo].[SALESORDER] DROP CONSTRAINT [DF__SALESORDE__Sales__52593CB8]
GO
ALTER TABLE [dbo].[PURCHASEORDERHEADER] DROP CONSTRAINT [DF__PURCHASEO__Purch__4AB81AF0]
GO
ALTER TABLE [dbo].[PRODUCTS] DROP CONSTRAINT [DF_PRODUCTS_UpdatedDate]
GO
ALTER TABLE [dbo].[PRODUCTS] DROP CONSTRAINT [DF_PRODUCTS_CreatedDate]
GO
ALTER TABLE [dbo].[INVENTORYTRANSACTIONS] DROP CONSTRAINT [DF__Inventory__Trans__4222D4EF]
GO
ALTER TABLE [dbo].[CATEGORY] DROP CONSTRAINT [DF_CATEGORY_UpdatedDate]
GO
ALTER TABLE [dbo].[CATEGORY] DROP CONSTRAINT [DF_CATEGORY_CreatedDate]
GO
/****** Object:  Table [dbo].[USERDETAILS]    Script Date: 22-02-2026 20:33:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USERDETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[USERDETAILS]
GO
/****** Object:  Table [dbo].[SUPPLIERS]    Script Date: 22-02-2026 20:33:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SUPPLIERS]') AND type in (N'U'))
DROP TABLE [dbo].[SUPPLIERS]
GO
/****** Object:  Table [dbo].[SALESORDERDETAILS]    Script Date: 22-02-2026 20:33:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SALESORDERDETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[SALESORDERDETAILS]
GO
/****** Object:  Table [dbo].[SALESORDER]    Script Date: 22-02-2026 20:33:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SALESORDER]') AND type in (N'U'))
DROP TABLE [dbo].[SALESORDER]
GO
/****** Object:  Table [dbo].[PURCHASEORDERHEADER]    Script Date: 22-02-2026 20:33:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PURCHASEORDERHEADER]') AND type in (N'U'))
DROP TABLE [dbo].[PURCHASEORDERHEADER]
GO
/****** Object:  Table [dbo].[PURCHASEORDERDETAILS]    Script Date: 22-02-2026 20:33:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PURCHASEORDERDETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[PURCHASEORDERDETAILS]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 22-02-2026 20:33:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCTS]') AND type in (N'U'))
DROP TABLE [dbo].[PRODUCTS]
GO
/****** Object:  Table [dbo].[INVENTORYTRANSACTIONS]    Script Date: 22-02-2026 20:33:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INVENTORYTRANSACTIONS]') AND type in (N'U'))
DROP TABLE [dbo].[INVENTORYTRANSACTIONS]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 22-02-2026 20:33:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMERS]') AND type in (N'U'))
DROP TABLE [dbo].[CUSTOMERS]
GO
/****** Object:  View [dbo].[VW_System_Error_Message]    Script Date: 22-02-2026 20:33:50 ******/
DROP VIEW [dbo].[VW_System_Error_Message]
GO
/****** Object:  View [dbo].[IMS_AllCategories]    Script Date: 22-02-2026 20:33:50 ******/
DROP VIEW [dbo].[IMS_AllCategories]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 22-02-2026 20:33:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CATEGORY]') AND type in (N'U'))
DROP TABLE [dbo].[CATEGORY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 22-02-2026 20:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Descriptions] [nvarchar](255) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[IMS_AllCategories]    Script Date: 22-02-2026 20:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[IMS_AllCategories]
AS
SELECT 
	CategoryId,
	CategoryName, 
	Descriptions
FROM CATEGORY
GO
/****** Object:  View [dbo].[VW_System_Error_Message]    Script Date: 22-02-2026 20:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[VW_System_Error_Message]
AS

SELECT 
	ERROR_LINE() ErrorLine,
	ERROR_MESSAGE() ErrorName,
	ERROR_NUMBER() ErrorCode,
	ERROR_PROCEDURE() ErrorProcedure,
	ERROR_SEVERITY() ErrorSeverity,
	ERROR_STATE() ErrorState
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 22-02-2026 20:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[ContactName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](10) NULL,
	[Email] [nvarchar](150) NULL,
	[Addresses] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTORYTRANSACTIONS]    Script Date: 22-02-2026 20:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTORYTRANSACTIONS](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[TransactionType] [nvarchar](5) NOT NULL,
	[Quantity] [int] NULL,
	[TransactionDate] [datetime] NULL,
	[RefernceNumber] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 22-02-2026 20:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[CategoryId] [int] NULL,
	[SupplerId] [int] NULL,
	[UnitPrice] [decimal](19, 2) NULL,
	[UnitInStock] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASEORDERDETAILS]    Script Date: 22-02-2026 20:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASEORDERDETAILS](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](19, 2) NULL,
	[TotalCost] [decimal](19, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASEORDERHEADER]    Script Date: 22-02-2026 20:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASEORDERHEADER](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [int] NULL,
	[PurchaseDate] [datetime] NULL,
	[Status] [nvarchar](10) NULL,
	[Amount] [decimal](19, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALESORDER]    Script Date: 22-02-2026 20:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALESORDER](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[SalesDate] [datetime] NULL,
	[Status] [nvarchar](10) NULL,
	[Amount] [decimal](19, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALESORDERDETAILS]    Script Date: 22-02-2026 20:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALESORDERDETAILS](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[SalesOrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](19, 2) NULL,
	[TotalCost] [decimal](19, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIERS]    Script Date: 22-02-2026 20:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIERS](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](100) NOT NULL,
	[ContactName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](10) NULL,
	[Email] [nvarchar](150) NULL,
	[Addresses] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERDETAILS]    Script Date: 22-02-2026 20:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERDETAILS](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserCode] [nvarchar](10) NULL,
	[UserName] [nvarchar](255) NULL,
	[UserEmail] [nvarchar](150) NULL,
	[UserMobile] [nvarchar](12) NULL,
	[IsAdmin] [bit] NULL,
	[UserPassword] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDateTime] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDateTime] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

INSERT [dbo].[CATEGORY] ([CategoryId], [CategoryName], [Descriptions], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1009, N'Whisky', N'Most consumed spirit, often molasses-based IMFL blends or premium malts.', 1, CAST(N'2026-02-22T13:00:58.877' AS DateTime), 1, CAST(N'2026-02-22T13:00:58.877' AS DateTime))
INSERT [dbo].[CATEGORY] ([CategoryId], [CategoryName], [Descriptions], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1010, N'Vodka', N'Neutral spirit, plain or flavored, popular in cocktails.', 1, CAST(N'2026-02-22T13:01:59.293' AS DateTime), 1, CAST(N'2026-02-22T13:01:59.293' AS DateTime))
INSERT [dbo].[CATEGORY] ([CategoryId], [CategoryName], [Descriptions], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1011, N'Rum', N'Crafted from molasses, including premium and dark varieties.', 1, CAST(N'2026-02-22T14:37:09.223' AS DateTime), 1, CAST(N'2026-02-22T14:37:09.223' AS DateTime))
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMERS] ON 

INSERT [dbo].[CUSTOMERS] ([CustomerId], [CustomerName], [ContactName], [Phone], [Email], [Addresses]) VALUES (1, N'Dude Boy', N'Mr Dude Boy', N'1472583690', N'dudeboy@gamle.com', N'Delhi')
SET IDENTITY_INSERT [dbo].[CUSTOMERS] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTS] ON 

INSERT [dbo].[PRODUCTS] ([ProductId], [ProductName], [CategoryId], [SupplerId], [UnitPrice], [UnitInStock], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (5, N'McDowell No.1 Soda', 1009, NULL, NULL, 600, 1, CAST(N'2026-02-22T13:57:18.523' AS DateTime), 1, CAST(N'2026-02-22T13:57:18.523' AS DateTime))
INSERT [dbo].[PRODUCTS] ([ProductId], [ProductName], [CategoryId], [SupplerId], [UnitPrice], [UnitInStock], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (8, N'Royal Stag Barrel Select', 1009, NULL, NULL, 500, 1, CAST(N'2026-02-22T14:05:00.403' AS DateTime), 1, CAST(N'2026-02-22T14:05:00.403' AS DateTime))
INSERT [dbo].[PRODUCTS] ([ProductId], [ProductName], [CategoryId], [SupplerId], [UnitPrice], [UnitInStock], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (9, N'Blenders Pride Reserve', 1009, NULL, NULL, 400, 1, CAST(N'2026-02-22T14:05:57.077' AS DateTime), 1, CAST(N'2026-02-22T14:05:57.077' AS DateTime))
SET IDENTITY_INSERT [dbo].[PRODUCTS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERDETAILS] ON 

INSERT [dbo].[USERDETAILS] ([UserId], [UserCode], [UserName], [UserEmail], [UserMobile], [IsAdmin], [UserPassword], [CreatedBy], [CreatedDateTime], [UpdatedBy], [UpdatedDateTime]) VALUES (1, N'manager', N'Himanshu Tanwar', NULL, NULL, 1, N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', 1, CAST(N'2026-02-21T20:22:55.0566667' AS DateTime2), 1, CAST(N'2026-02-21T20:22:55.0566667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[USERDETAILS] OFF
GO
ALTER TABLE [dbo].[CATEGORY] ADD  CONSTRAINT [DF_CATEGORY_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  CONSTRAINT [DF_CATEGORY_UpdatedDate]  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[INVENTORYTRANSACTIONS] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[PRODUCTS] ADD  CONSTRAINT [DF_PRODUCTS_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PRODUCTS] ADD  CONSTRAINT [DF_PRODUCTS_UpdatedDate]  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[PURCHASEORDERHEADER] ADD  DEFAULT (getdate()) FOR [PurchaseDate]
GO
ALTER TABLE [dbo].[SALESORDER] ADD  DEFAULT (getdate()) FOR [SalesDate]
GO
ALTER TABLE [dbo].[USERDETAILS] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[USERDETAILS] ADD  DEFAULT (getdate()) FOR [UpdatedDateTime]
GO
ALTER TABLE [dbo].[INVENTORYTRANSACTIONS]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[PRODUCTS] ([ProductId])
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[CATEGORY] ([CategoryId])
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD FOREIGN KEY([SupplerId])
REFERENCES [dbo].[SUPPLIERS] ([SupplierId])
GO
ALTER TABLE [dbo].[PURCHASEORDERDETAILS]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[PRODUCTS] ([ProductId])
GO
ALTER TABLE [dbo].[PURCHASEORDERDETAILS]  WITH CHECK ADD FOREIGN KEY([PurchaseOrderId])
REFERENCES [dbo].[PURCHASEORDERHEADER] ([DocumentId])
GO
ALTER TABLE [dbo].[PURCHASEORDERHEADER]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[SUPPLIERS] ([SupplierId])
GO
ALTER TABLE [dbo].[SALESORDER]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[CUSTOMERS] ([CustomerId])
GO
ALTER TABLE [dbo].[SALESORDERDETAILS]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[PRODUCTS] ([ProductId])
GO
ALTER TABLE [dbo].[SALESORDERDETAILS]  WITH CHECK ADD FOREIGN KEY([SalesOrderId])
REFERENCES [dbo].[SALESORDER] ([DocumentId])
GO
/****** Object:  Trigger [dbo].[Trg_PODetailInsert]    Script Date: 22-02-2026 20:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [dbo].[Trg_PODetailInsert]
ON [dbo].[PURCHASEORDERDETAILS]
AFTER INSERT
AS
BEGIN
	
	BEGIN TRY
		INSERT INTO INVENTORYTRANSACTIONS
		(
			ProductId,
			TransactionType,
			Quantity,
			TransactionDate,
			RefernceNumber
		)

		SELECT  
			I.ProductId,
			'In',
			i.QUantity,
			GETDATE(),
			I.PurchaseOrderId
		FROM inserted i
	END TRY

	BEGIN CATCH
		SELECT 
			ErrorCode,
			CONCAT(ErrorName, ' Proc name is ', ErrorProcedure, ' and linenumber is ', ErrorLine) ErrorName
		FROM VW_System_Error_Message 
	END CATCH

END
GO
ALTER TABLE [dbo].[PURCHASEORDERDETAILS] ENABLE TRIGGER [Trg_PODetailInsert]
GO
/****** Object:  Trigger [dbo].[Trg_SODetailInsert]    Script Date: 22-02-2026 20:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE TRIGGER [dbo].[Trg_SODetailInsert]
ON [dbo].[SALESORDERDETAILS]
AFTER INSERT
AS
BEGIN
	
	BEGIN TRY
		INSERT INTO INVENTORYTRANSACTIONS
		(
			ProductId,
			TransactionType,
			Quantity,
			TransactionDate,
			RefernceNumber
		)

		SELECT  
			I.ProductId,
			'OUT',
			i.QUantity,
			GETDATE(),
			I.SalesOrderId
		FROM inserted i
	END TRY

	BEGIN CATCH
		SELECT 
			ErrorCode,
			CONCAT(ErrorName, ' Proc name is ', ErrorProcedure, ' and linenumber is ', ErrorLine) ErrorName
		FROM VW_System_Error_Message 
	END CATCH

END
GO
ALTER TABLE [dbo].[SALESORDERDETAILS] ENABLE TRIGGER [Trg_SODetailInsert]
GO
